<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>We received a request to reset your password. If you didn’t request this, please ignore this email.</p>
    <p>Please click the following link to reset your password:</p>
    <p>
      <a href="{{host}}/api/auth/change_password/{{token}}"> Reset Password </a>
    </p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
